<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/buzz.css" />
	<link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.9.1.custom.css" />
	<script>
		window.appSessionId = '{{ session }}';
		window.appCanFork = '{{ can_fork }}';
		window.appCanSave = '{{ can_save }}';
		window.appCanCreate = '{{ can_create }}';
		window.appDocumentId = '{{ document }}';
		try {
			window.appDocument = {{ data }};
		} catch(e) {
		}
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36439525-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	<script type="text/javascript" src="/static/js/lib/buffer-loader.js"></script>

	<script type="text/javascript" src="/static/js/src/song.js"></script>
	<script type="text/javascript" src="/static/js/src/mixer.js"></script>
	<script type="text/javascript" src="/static/js/src/sampler.js"></script>
	<script type="text/javascript" src="/static/js/src/dynamicvalue.js"></script>
	<script type="text/javascript" src="/static/js/src/sequencer.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/device.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/synth.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/sampler.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/master.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/delay.js"></script>
	<script type="text/javascript" src="/static/js/src/basetrack.js"></script>
	<script type="text/javascript" src="/static/js/src/connection.js"></script>
	<script type="text/javascript" src="/static/js/src/track.js"></script>
	<script type="text/javascript" src="/static/js/src/machine.js"></script>

	<script type="text/javascript" src="/static/js/lib/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery-ui-1.9.1.custom.js"></script>

	<script type="text/javascript" data-main="/static/js/src/main" src="/static/js/src/require.js"></script>

</head>
<body ng-controller="BuzzController">

	<div id="bigloadah">
		<div>
			<h1>javascript<em>beats</em></h1>
			Loading...
		</div>
	</div>

	<div class="workspace">
		<canvas id="arrows" width="500" height="300"></canvas>
		<ul id="connections" class="connections">
			<li ng-repeat="c in connections" ng-style="getConnectionPosition(c)" data-id="{{c.id}}" data-index="{{c.index}}"></li>
		</ul>
		<ul id="blocks" class="blocks">
			<li ng-repeat="b in blocks" ng-style="getBlockPosition(b)" data-id="{{b.id}}" data-index="{{b.index}}">
				<img ng-src="/static/img/device_{{b.type}}_40.png" />
				<span>{{b.title}}</span>
 			</li>
		</ul>
	</div>

	<div id="help" class="help">{{helphtml}}</div>

	<div class="toolbar">
		<ul>
			<li class="logo">
				<h1>javascript<em>beats</em></h1>
			</li>
			<li></li>
			<li class="">
				<a id="playbutton" ng-click="toolbarPlay()" class="button toggleable">
					PLAY
				</a>
			</li>
			<li>
				<a ng-click="toolbarAdd()" class="button">
					ADD BLOCK
				</a>
			</li>
			<li>
				<a ng-click="toolbarSong()" class="button">
					TEMPO
				</a>
			</li>
			<li>
				<a ng-click="toolbarCenter()" class="button">
					CENTER
				</a>
			</li>
			<li class="button">
				<a ng-click="toolbarSave()" class="button">
					SAVE
				</a>
				<a ng-click="toolbarFork()" class="button">
					FORK
				</a>
			</li>
			<li>
				<a ng-click="toolbarHelp()" class="button">
					HELP
				</a>
				<a ng-click="toolbarAbout()" class="button">
					ABOUT
				</a>
			</li>
		</ul>
	</div>

	<div class="sidebar" id="sidebar">

		<div ng-show="helpPanel">
			<header>
				<h3>Help</h3>
			</header>
			<p>
				This web application works like a very simplified modular music studio, you connect devices together, by chaining them together in different ways you can create different sounds.
			</p>
			<p>
				The big difference is that you don't have sequencer to automate your parameters or to enter notes into, instead you write small expressions which are continously evaluated at runtime.
			</p>
			<p>
				In your expressions you have access to the following parameters:<br/>
			</p>
			<p>
				<B>step</b> - position in song, in sequencer steps, an bar of 4/4 beat contains 16 steps
			</p>
			<p>
				<b>time</b> - time in seconds since you pressed play
			</p>
			<p>
				<B>substep</b> - same as step, but with 128 steps per bar
			</p>
		</div>

		<div id="bigabout" ng-show="bigaboutPanel">
			<header>
				<h3>About</h3>
			</header>
			<p>
				After fiddling around with web audio for some time realising how powerful it is, as a long time user/programmer of modular synthesizer software / virtual studio software, maxmsp, reason, jeskola buzz etc. i knew i had to make something like this.
			</p>
			<p>
				Give me a shout on twitter if you like it! <a href="http://twitter.com/possan">@possan</a>
			</p>
			<p>
			</p>
			<p>
				Powered by angularjs, jquery-ui, buffer-loader, requirejs and samples from freesound.org
			</p>
			<p>
				Version 0.1 (2012-11-25)
			</p>
		</div>

		<div id="about" ng-show="aboutPanel">
			<p>
				javascriptbeats is a Chrome Web Audio Experiment by <a href="http://twitter.com/possan">@possan</a> - it's code is available on <a href="https://github.com/possan/webaudio-tests">github</a>
			</p>
			<ul class="sharing">
				<li>
					<div class="fb-like" data-href="http://javascriptbeats.appspot.com" data-send="false" data-layout="button_count" data-width="130" data-show-faces="false"></div>
				</li>
				<li>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://javascriptbeats.appspot.com" data-via="possan" data-hashtags="javascriptbeats">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</li>
			</ul>
		</div>

		<div ng-show="editParametersPanel">
			<header>
				<h3>{{propertyeditor.title}}</h3>
				<p>{{propertyeditor.info}}</p>
			</header>
			<ul class="params">
				<li ng-repeat="prop in propertyeditor.properties">
					<label>{{prop.title}}</label>
					<input
						type="text"
						ng-model="prop.expression"
						ng-change="savePropertyEditor($event,prop.name);"></input>
					<a href="#"
						ng-show="prop.has_presets"
						class="presets"
						ng-click="showPresets($event,prop.index,prop.type)">Presets</a>
					<span class="help">{{prop.help}}</span>
				</li>
			</ul>
			<br/>
			<p ng-show="propertyeditor.deletable">
				<a class="button" ng-click="deleteBlockOrConnection()">DELETE</a><br/>
			</p>
		</div>

		<div id="sharePanel" ng-show="sharePanel">
			<h3>Share song</h3>
			<p>
				Share this song:<br/>
				<input type="text" class="white" id="myurl"></input>
			</p>
			<p>
				<a id="shareTwitter">Share on Twitter</a>
			</p>
			<p>
				<a id="shareFacebook">Post to Facebook</a>
			</p>
		</div>

		<div id="sharePanel2" ng-show="sharePanel2">
			<h3>Share song</h3>
			<p>
				Save your song first, then you can share it.
			</p>
		</div>

		<div ng-show="createBlockPanel">
			<header>
				<h3>Create</h3>
			</header>
			<ul class="createdevice">
				<li>
					<a ng-click="beginAddConnection()">
						<img src="/static/img/connection_40.png" />
						<span>Connection</span>
					</a>
				</li>
				<li ng-repeat="dev in availableDevices">
					<a ng-click="createBlock(dev.type)">
						<img ng-src="/static/img/device_{{dev.type}}_40.png" />
						<span>{{dev.title}}</span>
					</a>
				</li>
			</ul>
			<br/>
		</div>
	</div>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=470937449625186";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>