<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/buzz.css" />
	<script>
		window.appDocumentId = '';
		window.appSessionId = '';
	</script>
	<script type="text/javascript" src="/static/js/lib/buffer-loader.js"></script>

	<script type="text/javascript" src="/static/js/src/song.js"></script>
	<script type="text/javascript" src="/static/js/src/mixer.js"></script>
	<script type="text/javascript" src="/static/js/src/sampler.js"></script>
	<script type="text/javascript" src="/static/js/src/dynamicvalue.js"></script>
	<script type="text/javascript" src="/static/js/src/sequencer.js"></script>

	<script type="text/javascript" src="/static/js/src/devices/device.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/synth.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/sampler.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/master.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/bus.js"></script>

	<script type="text/javascript" src="/static/js/src/track.js"></script>
	<script type="text/javascript" src="/static/js/src/machine.js"></script>

	<script type="text/javascript" src="/static/js/lib/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery-ui-1.9.1.custom.js"></script>

	<script type="text/javascript" src="/static/js/lib/angular.js"></script>

	<script type="text/javascript" src="/static/js/src/app.js"></script>
	<script type="text/javascript" src="/static/js/src/controllers/studio.js"></script>
	<script type="text/javascript" src="/static/js/src/bootstrap.js"></script>
</head>
<body onload="bootstrap();" ng-controller="BuzzController">

	<div class="workspace">
		<canvas id="arrows" width="500" height="300"></canvas>
		<ul id="connections" class="connections">
			<li ng-repeat="c in connections" ng-style="getConnectionPosition(c)" data-id="{{c.id}}" data-index="{{c.index}}"></li>
		</ul>
		<ul id="blocks" class="blocks">
			<li ng-repeat="b in blocks" ng-style="getBlockPosition(b)" data-id="{{b.id}}" data-index="{{b.index}}">
				<img src="/static/img/device_{{b.type}}_40.png" />
				<span>{{b.title}}</span>
 			</li>
		</ul>
	</div>

	<div id="help" class="help">{{helphtml}}</div>

	<div class="toolbar">
		<b>func</b>:<i>ybeats</i>
		&nbsp;
		<a ng-click="beginAddSomething()">ADD SOMETHING</a>
		<a ng-click="centerView()">CENTER</a>
		&nbsp;
		<a ng-click="centerView()">SAVE</a>
		<a ng-click="centerView()">FORK</a>
	</div>

	<div class="sidebar" id="sidebar">

		<div ng-show="editParametersPanel">
			<h3>Edit parameters</h3>
			<ul class="params">
			</ul>
			<br/>
			<a ng-click="deleteBlock()">DELETE BLOCK</a><br/>
			<a ng-click="deleteConnection()">DELETE CONNECTION</a><br/>
		</div>

		<div ng-show="createBlockPanel">
			<h3>Create</h3>
			<ul class="createdevice">
				<li>
					<a ng-click="beginAddConnection()">
						<img src="/static/img/connection_40.png" />
						<span>Connection</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('synth')">
						<img src="/static/img/device_synth_40.png" />
						<span>Mono synth</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('sampler')">
						<img src="/static/img/device_sampler_40.png" />
						<span>Sampler</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('delay')">
						<img src="/static/img/device_delay_40.png" />
						<span>Delay</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('compressor')">
						<img src="/static/img/device_compressor_40.png" />
						<span>Compressor</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('filter')">
						<img src="/static/img/device_filter_40.png" />
						<span>Filter</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('reverb')">
						<img src="/static/img/device_reverb_40.png" />
						<span>Reverb</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('waveshaper')">
						<img src="/static/img/device_waveshaper_40.png" />
						<span>Waveshaper</span>
					</a>
				</li>
			</ul>
			<br/>
		</div>
	</div>
</body>
</html>