<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=200">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<script type="text/javascript" src="/static/js/lib/buffer-loader.js"></script>

	<script type="text/javascript" src="/static/js/src/song.js"></script>
	<script type="text/javascript" src="/static/js/src/mixer.js"></script>
	<script type="text/javascript" src="/static/js/src/sampler.js"></script>
	<script type="text/javascript" src="/static/js/src/dynamicvalue.js"></script>
	<script type="text/javascript" src="/static/js/src/sequencer.js"></script>

	<script type="text/javascript" src="/static/js/src/devices/device.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/synth.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/sampler.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/master.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/bus.js"></script>

	<script type="text/javascript" src="/static/js/src/track.js"></script>
	<script type="text/javascript" src="/static/js/src/machine.js"></script>

	<script type="text/javascript" src="/static/js/lib/angular.js"></script>

	<script type="text/javascript" src="/static/js/src/app.js"></script>
	<script type="text/javascript" src="/static/js/src/controllers/studio.js"></script>
	<script type="text/javascript" src="/static/js/src/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/src/all.js"></script>
</head>
<body onload="bootstrap();">
	<div ng-controller="StudioController">
		<section class="transport">
			<ul>
				<li class="logo">
					<h1>JsBeat</h1>
					<h2>Javascript expression sequencer</h2>
				</li>
				<li class="buttons">
					<input type="button" value="&#9658;" ng-click="play();"/>
					<input type="button" value="&#9724;" ng-click="stop();"/>
					x{{playing}}
				</li>
				<li class="label">
					Title:
					<input type="text" size="10" ng-model="dataset.title" ng-change="updatePlayback()" />
				</li>
				<li class="label">
					BPM:
					<input type="text" size="3" ng-model="dataset.bpm" ng-change="updatePlayback()" />
				</li>
				<li class="label">
					Shuffle:
					<input type="text" size="2" ng-model="dataset.shuffle" ng-change="updatePlayback()" />
					%
				</li>
				<li class="buttons">
					<input type="button" value="add synth" ng-click="addSynth()" />
					<input type="button" value="add sampler" ng-click="addSampler()" />
				</li>
				<li class="buttons">
					<input type="button" value="save" ng-click="saveWork();" />
					<input type="button" value="fork" ng-click="forkWork();" />
					<input type="button" value="share" ng-click="shareWork();" />
				</li>
			</ul>
		</section>
		<section class="groups" id="groups">
			<article ng-repeat="item in dataset.tracks" ng-include="getItemTemplate(item)"></article>
			<br/>
		</section>
		<section class="groups" id="groups">
			<article ng-repeat="item in dataset.buses" ng-include="getItemTemplate(item)"></article>
			<article ng-repeat="item in [dataset.master || {}]" ng-include="getItemTemplate(item)"></article>
			<br/>
		</section>
		<textarea id="json2" cols="100" rows="20"
			ng-model="dataset_json"
			ng-change="json_changed()"></textarea>
	</div>
</body>
</html>