<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/buzz.css" />
	<script>
		window.appDocumentId = '';
		window.appSessionId = '';
	</script>
	<script type="text/javascript" src="/static/js/lib/buffer-loader.js"></script>

	<script type="text/javascript" src="/static/js/src/song.js"></script>
	<script type="text/javascript" src="/static/js/src/mixer.js"></script>
	<script type="text/javascript" src="/static/js/src/sampler.js"></script>
	<script type="text/javascript" src="/static/js/src/dynamicvalue.js"></script>
	<script type="text/javascript" src="/static/js/src/sequencer.js"></script>

	<script type="text/javascript" src="/static/js/src/devices/device.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/synth.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/sampler.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/master.js"></script>
	<script type="text/javascript" src="/static/js/src/devices/bus.js"></script>

	<script type="text/javascript" src="/static/js/src/track.js"></script>
	<script type="text/javascript" src="/static/js/src/machine.js"></script>

	<script type="text/javascript" src="/static/js/lib/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery-ui-1.9.1.custom.js"></script>

	<script type="text/javascript" src="/static/js/lib/angular.js"></script>

	<script type="text/javascript" src="/static/js/src/app.js"></script>
	<script type="text/javascript" src="/static/js/src/controllers/studio.js"></script>
	<script type="text/javascript" src="/static/js/src/bootstrap.js"></script>
</head>
<body onload="bootstrap();" ng-controller="BuzzController">

	<div class="workspace">
		<canvas id="arrows" width="500" height="300"></canvas>
		<ul id="connections" class="connections">
			<li ng-repeat="c in connections" ng-style="getConnectionPosition(c)" data-id="{{c.id}}" data-index="{{c.index}}"></li>
		</ul>
		<ul id="blocks" class="blocks">
			<li ng-repeat="b in blocks" ng-style="getBlockPosition(b)" data-id="{{b.id}}" data-index="{{b.index}}">
				<img src="/static/img/device_{{b.type}}_40.png" />
				<span>{{b.title}}</span>
 			</li>
		</ul>
	</div>

	<div id="help" class="help">{{helphtml}}</div>

	<div class="toolbar">
		<ul>
			<li class="logo">
				<h1><i>javascript</i><b>beats</b></h1>
			</li>
			<li></li>
			<li class="">
				<a ng-click="toolbarSong()" class="button toggleable down">
					PLAY
				</a>
			</li>
			<li>
				<a ng-click="toolbarAdd()" class="button">
					ADD BLOCK
				</a>
			</li>
			<li>
				<a ng-click="toolbarSong()" class="button">
					TEMPO
				</a>
			</li>
			<li>
				<a ng-click="toolbarCenter()" class="button">
					CENTER
				</a>
			</li>
			<li class="button">
				<a ng-click="toolbarSave()" class="button">
					SAVE
				</a>
				<a ng-click="toolbarFork()" class="button">
					FORK
				</a>
			</li>
			<li>
				<a ng-click="toolbarHelp()" class="button">
					HELP
				</a>
			</li>
		</ul>
	</div>

	<div class="sidebar" id="sidebar">

		<div ng-show="helpPanel">
			<header>
				<h3>Edit synth</h3>
				<p>Donec non tempus massa. Sed ultricies, ante ut tincidunt viverra, magna enim tristique tellus, a laoreet ligula mauris sed ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, arcu nec ullamcorper iaculis, arcu purus pellentesque lacus, </p>
				<img src="/static/img/device_master_40.png" class="icon" />
			</header>
			<h1>
				func:y beats
			</h1>
			<p>
				A Web Audio Experiment by: <a href="http://twitter.com/possan">@possan</a> - Code available on <a href="#">github</a> (<i>Only tested in Chrome so far...</i>)
			</p>

			<p>Maecenas ultrices arcu sed nibh cursus dapibus. Suspendisse potenti. Mauris sollicitudin eros et odio ultrices consectetur. Morbi eget dictum tellus. Sed vel dolor bibendum nulla dapibus vehicula. Nullam vehicula vestibulum pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse et erat lorem.</p>
		<p>Vitae aliquet neque. Praesent eu dignissim ante. Fusce pellentesque posuere ipsum a commodo. Phasellus a consequat augue. Donec congue ante et orci accumsan ac sodales urna condimentum. </p>
		<p>Quisque nec sem vitae libero faucibus euismod a et urna. Vestibulum congue mattis dignissim. Ut ullamcorper erat velit, eget volutpat urna. Nulla nec rhoncus justo.
</p><p>
Maecenas odio elit, porta sit amet vestibulum vel, posuere sed mi. Nullam ut egestas lectus. Etiam erat sapien, dapibus sed dictum sed, ornare eu justo. Nunc non risus non ligula blandit cursus. Phasellus luctus elementum mi vel ultricies. Nam dictum scelerisque auctor. Sed volutpat orci ut est fermentum pellentesque.

</p>


		</div>


		<div ng-show="editParametersPanel">
			<header>
				<h3>Edit synth</h3>
				<p>Donec non tempus massa. Sed ultricies, ante ut tincidunt viverra, magna enim tristique tellus, a laoreet ligula mauris sed ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, arcu nec ullamcorper iaculis, arcu purus pellentesque lacus, </p>
				<img src="/static/img/device_master_40.png" class="icon" />
			</header>

			<ul class="params">
				<li>
					<label>Title</label>
					<input type="text" value="Lead synth"></input>
				</li>
				<li class="expanded">
					<label>Gate</label>
					<input type="text" value="(step % 3) == 0"></input>
					<a href="#" class="presets">Presets...</a>
					<span class="help">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sapien felis, lobortis id congue in, gravida sed nisl. Pellentesque pharetra ornare eros, </span>
				</li>
				<li>
					<label>Note</label>
					<input type="text" value="step % 4 + 35"></input>
					<a href="#" class="presets">Presets...</a>
					<span class="help">Etiam metus sem, aliquet viverra vehicula non, mollis vitae lacus. Maecenas eleifend orci vitae ipsum volutpat et sollicitudin dui tristique. Etiam sit amet sapien ac augue lacinia bibendum. </span>
				</li>
				<li>
					<label>Volume</label>
				</li>
			</ul>
			<br/>
			<a class="button" ng-click="deleteBlock()">DELETE BLOCK</a><br/>
			<a class="button" ng-click="deleteConnection()">DELETE CONNECTION</a><br/>
		</div>

		<div ng-show="createBlockPanel">

			<header>
				<h3>Create block or connection</h3>
		<p>Donec non tempus massa. Sed ultricies, ante ut tincidunt viverra, magna enim tristique tellus, a laoreet ligula mauris sed ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, arcu nec ullamcorper iaculis, arcu purus pellentesque lacus, </p>
					</header>

			<ul class="createdevice">
				<li>
					<a ng-click="beginAddConnection()">
						<img src="/static/img/connection_40.png" />
						<span>Connection</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('synth')">
						<img src="/static/img/device_synth_40.png" />
						<span>Mono synth</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('sampler')">
						<img src="/static/img/device_sampler_40.png" />
						<span>Sampler</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('delay')">
						<img src="/static/img/device_delay_40.png" />
						<span>Delay</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('compressor')">
						<img src="/static/img/device_compressor_40.png" />
						<span>Compressor</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('filter')">
						<img src="/static/img/device_filter_40.png" />
						<span>Filter</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('reverb')">
						<img src="/static/img/device_reverb_40.png" />
						<span>Reverb</span>
					</a>
				</li>
				<li>
					<a ng-click="createBlock('waveshaper')">
						<img src="/static/img/device_waveshaper_40.png" />
						<span>Waveshaper</span>
					</a>
				</li>
			</ul>
			<br/>
		</div>
	</div>
</body>
</html>