html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.workspace {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.workspace canvas {
	left: 0px;
	top: 0px;
}

ul.blocks {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0;
	height: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.blocks li {
	position: absolute;
	border: 1px solid #444;
	padding: 0px;
	margin: 0;
	width: 50px;
	height: 50px;
	background-color: #eee;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

ul.blocks li.dragging {
	background-color: #666;
	-webkit-transform: scale(1.15);
	opacity: 0.66;
	z-index: 99;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

ul.blocks li.selected {
	background-color: #66f;
}

ul.connections {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.connections li {
	position: absolute;
	padding: 0px;
	margin: 0;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.sidebar {
	position: absolute;
	top: 0px;
	right: 	0px;
	width: 250px;
	height: 100%;
	background-color: #aaa;
	border-left: 1px solid #666;
}

.toolbar {
	position: absolute;
	padding: 5px;
	font-size: 140%;
	top: 0px;
	left: 	0px;
	width: 100%;
	height: 25px;
	background-color: #666;
	color: #fff;
	border-bottom: 1px solid #666;
}

.toolbar a {
	color: #ff0;
}
