body {
	font: 8pt Arial;
	margin: 0;
	padding: 80px 20px 80px 20px;
	background-color: #fff;
}





.indicator {
	background-color: #050;
}

.indicator.on {
	background-color: #3f3;
}

section.groups {
	clear: both;
	padding: 0px;
}

section.groups article {
	position: relative;
	border: 0px;
	padding: 0px;
	margin: 0 5px 5px 0;
	width: 250px;
	height: 280px;
	float: left;
}

section.groups article header {
	background-color: #666;
	height: 35px;
	color: #fff;
}

section.groups article header h3 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 150px;
	margin: 0;
	padding: 0;
}

section.groups article .indicator {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 10px;
}

section.groups article h3 {
	margin: 0 0 10px 0;
}

section.groups article ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

section.groups article button.mutebutton {
	position: absolute;
	right: 80px;
	top: 5px;
	width: 40px;
	height: 25px;
	background-color: #a88;
	border: 0;
	border-radius: 10px;
}

section.groups article button.mutebutton.down {
	background-color: #f00;
}

section.groups article button.solobutton {
	position: absolute;
	right: 35px;
	top: 5px;
	width: 40px;
	height: 25px;
	background-color: #8a8;
	border: 0;
	border-radius: 10px;
}

section.groups article button.solobutton.down {
	background-color: #0f0;
}

section.groups article button.deletebutton {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 25px;
	height: 25px;
	background-color: #ccc;
	border: 0;
	border-radius: 10px;
}

section.groups article h2 {
	margin: 0 0 15px 0;
}

section.groups article h4 {
	font-weight: normal;
	margin: 0 0 0 0;
}

hr {
	clear: both;
}

ul.props {
	position: absolute;
	left: 0px;
	top: 35px;
	right: 0px;
	display: block;
	margin: 0;
	padding: 0;
}

ul.props li {
	position: relative;
	border-bottom: 1px solid #888;
	border-top: 1px solid #ddd;
	display: block;
	background-color: #ddd;
	padding: 6px;
}

ul.props li input.expression {
	position: absolute;
	right: 2px;
	top: 0px;
	width: 130px;
	float: right;
}







section.transport {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	padding: 0px;
	height: 45px;
	color: #fff;
	text-shadow: 0 1px 1px #000;
	background-image: -webkit-linear-gradient(bottom, rgb(37,107,128), rgb(61,166,204));
	z-index: 99;
	box-shadow: 0 4px 10px rgba(0,0,0,0.33);
}

section.transport ul {
	display: block;
	margin: 0;
	padding: 0;
}

section.transport ul li {
	display: block;
	list-style: none;
	float: left;
	margin: 0;
	margin-right: 15px;
	padding: 0;
}

section.transport ul li.logo {
	position: relative;
	height: 40px;
	width: 200px;
	white-space: nowrap;
}

section.transport ul li.logo h1 {
	position: absolute;
	left: 10px;
	top: 6px;
	margin: 0;
	padding: 0;
	font-size: 15pt;
}

section.transport ul li.logo h2 {
	position: absolute;
	left: 10px;
	top: 26px;
	margin: 0;
	padding: 0;
	font-size: 8pt;
}

section.transport ul li.label {
	margin-top: 11px;
}

section.transport ul li.label span {

}

section.transport ul li.buttons {
	margin-top: 3px;
}

section.transport ul li.buttons input[type="button"] {
	padding: 10px 15px;
	background-color: #eee;
	border: 0px solid #888;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #000;
	cursor: pointer;
}

section.transport ul li.buttons input[type="button"]:hover {
	background-color: #fff;
	color: #555;
}
