<header>
	<h3>
		Sampler: "{{item.title}}" #{{item.id}}
	</h3>
	<button ng-click="muteTrack(item);" class="mutebutton down" ng-show="item.mute || false">UNMUTE</button>
	<button ng-click="muteTrack(item);" class="mutebutton     " ng-hide="item.mute || false">MUTE</button>
	<button ng-click="soloTrack(item);" class="solobutton down" ng-show="item.solo || false">UNSOLO</button>
	<button ng-click="soloTrack(item);" class="solobutton     " ng-hide="item.solo || false">SOLO</button>
	<button ng-click="deleteTrack(item);" class="deletebutton">X</button>
</header>
<ul class="props">
	<li>
		Title:
		<input placeholder="Title" class="expression" ng-model="item.title" ng-change="updateDevice(item)" />
	</li>
	<li>
		Gate: (0-1)
		<input type="text" placeholder="Expression" class="expression" ng-model="item.gate" ng-change="updateDevice(item)" />
	</li>
	<li>
		Speed: (%)
		<input type="text" placeholder="Expression" class="expression" ng-model="item.speed" ng-change="updateDevice(item)" />
	</li>
	<li>
		Sample: (n)
		<input type="text" placeholder="Expression" class="expression" ng-model="item.sample" ng-change="updateDevice(item)" />
	</li>
	<li>
		Release: (ms)
		<input type="text" placeholder="Expression" class="expression" ng-model="item.release" ng-change="updateDevice(item)" />
	</li>
	<li>
		Volume: (%)
		<input type="text" placeholder="Expression" class="expression" ng-model="item.volume" ng-change="updateDevice(item)" />
	</li>
</ul>