<header>
	<h3>
		Bus: "{{item.title}}" #{{item.id}}
	</h3>
</header>
<ul class="props">
	<li>
		Title:
		<input placeholder="Title" class="expression" ng-model="item.title" ng-change="saveMyModel()" />
	</li>
	<li>
		Delay time: (%)
		<input placeholder="Expression" class="expression" ng-model="item.delaytime" ng-change="saveMyModel()" />
	</li>
	<li>
		Delay feedback: (%)
		<input placeholder="Expression" class="expression" ng-model="item.delayfeedback" ng-change="saveMyModel()" />
	</li>
</ul>