<header>
	<h3>
		Master: "{{item.title}}" #{{item.id}}
	</h3>
</header>
<ul class="props">
	<li>
		Title:
		<input placeholder="Title" class="expression" ng-model="item.title" ng-change="updateDevice(item)" />
	</li>
	<li>
		Compression: (%)
		<input placeholder="Expression" class="expression" ng-model="item.compression" ng-change="updateDevice(item)" />
	</li>
	<li>
		Comp. release:
		<input placeholder="Expression" class="expression" ng-model="item.comprelease" ng-change="updateDevice(item)" />
	</li>
	<li>
		Comp. treshold:
		<input placeholder="Expression" class="expression" ng-model="item.comptreshold" ng-change="updateDevice(item)" />
	</li>
</ul>