<button ng-click="muteTrack(item);" class="mutebutton down" ng-show="item.mute || false">UNMUTE</button>
<button ng-click="muteTrack(item);" class="mutebutton     " ng-hide="item.mute || false">MUTE</button>
<button ng-click="soloTrack(item);" class="solobutton down" ng-show="item.solo || false">UNSOLO</button>
<button ng-click="soloTrack(item);" class="solobutton     " ng-hide="item.solo || false">SOLO</button>
<button ng-click="deleteTrack(item);" class="deletebutton">X</button>

<h3>
	Synth:
	<input type="text" size="10" ng-model="item.title" ng-change="saveMyModel()" />
</h3>

<ul class="props">
	<li>
		Gate:
		<input placeholder="Expression" class="expression" ng-model="item.gate" ng-change="saveMyModel()" />
	</li>
	<li>
		Note:
 		<input placeholder="Expression" class="expression" ng-model="item.note" ng-change="saveMyModel()" />
	</li>
	<li>
		Waveform:
		<input placeholder="Expression" class="expression" ng-model="item.waveform" ng-change="saveMyModel()" />
	</li>
	<li>
		Release:
		<input placeholder="Expression" class="expression" ng-model="item.release" ng-change="saveMyModel()" />
	</li>
	<li>
		Volume:
		<input placeholder="Expression" class="expression" ng-model="item.volume" ng-change="saveMyModel()" />
	</li>
	<li>
		Cutoff:
		<input placeholder="Expression" class="expression" ng-model="item.cutoff" ng-change="saveMyModel()" />
	</li>
	<li>
		Resonance:
		<input placeholder="Expression" class="expression" ng-model="item.resonance" ng-change="saveMyModel()" />
	</li>
	<li>
		Bus 1 send:
		<input placeholder="Expression" class="expression" ng-model="item.send1" ng-change="saveMyModel()" />
	</li>
	<li>
		Bus 2 send:
		<input placeholder="Expression" class="expression" ng-model="item.send2" ng-change="saveMyModel()" />
	</li>
</ul>