<h3>
	Master
</h3>

<ul class="props">
<li>Bus 1 receive: <span ng-repeat="prop in [item.receive1]" ng-include="'prop-generic.html'"></span></li>
<li>Bus 2 receive: <span ng-repeat="prop in [item.receive2]" ng-include="'prop-generic.html'"></span></li>
<li>Compression<span ng-repeat="prop in [item.compression]" ng-include="'prop-generic.html'"></span></li>
<li>Comp. release<span ng-repeat="prop in [item.comprelease]" ng-include="'prop-generic.html'"></span></li>
<li>Comp. treshold<span ng-repeat="prop in [item.comptreshold]" ng-include="'prop-generic.html'"></span></li>
</ul>