<button ng-click="muteTrack(item);" class="mutebutton down" ng-show="item.mute || false">UNMUTE</button>
<button ng-click="muteTrack(item);" class="mutebutton     " ng-hide="item.mute || false">MUTE</button>
<button ng-click="soloTrack(item);" class="solobutton down" ng-show="item.solo || false">UNSOLO</button>
<button ng-click="soloTrack(item);" class="solobutton     " ng-hide="item.solo || false">SOLO</button>
<button ng-click="deleteTrack(item);" class="deletebutton">X</button></a>

<h3>
	Sampler:
	<input type="text" size="10" ng-model="item.title" ng-change="saveMyModel()" /> 
</h3>

<ul class="props">
<li>Gate: <span ng-repeat="prop in [item.gate]" ng-include="'prop-generic.html'"></span></li>
<li>Speed: <span ng-repeat="prop in [item.speed]" ng-include="'prop-generic.html'"></span></li>
<li>Sample: <span ng-repeat="prop in [item.sample]" ng-include="'prop-generic.html'"></span></li>
<li>Release: <span ng-repeat="prop in [item.release]" ng-include="'prop-generic.html'"></span></li>
<li>Volume: <span ng-repeat="prop in [item.volume]" ng-include="'prop-generic.html'"></span></li>
<li>Bus 1 send: <span ng-repeat="prop in [item.send1]" ng-include="'prop-generic.html'"></span></li>
<li>Bus 2 send: <span ng-repeat="prop in [item.send2]" ng-include="'prop-generic.html'"></span></li>
</ul>