.indicator {
	background-color: #050;
}

.indicator.on {
	background-color: #3f3;
}


section.groups {
	clear: both;
}

section.groups article {
	position: relative;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px;
	width: 200px;
	float: left;
}

section.groups article .indicator {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 10px;
}

section.groups article ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

section.groups article ul li {
	display: block;
	padding: 0;
	margin: 0 0 10px 0;
}

section.groups article h2 {
	margin: 0 0 15px 0;
}

section.groups article h4 {
	font-weight: normal;
	margin: 0 0 0 0;
}

section.groups article p {
	margin: 0 0 10px 0;
}

section.groups article textarea,
section.groups article input.expression {
	width: 160px;
}

hr {
	clear: both;
}

